<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define binPath = "$(var.ProjectDir)..\bin\publish" ?>
	<?define binPathGUI = "$(var.ProjectDir)..\bin\publish" ?>
	
	<Fragment>
	  <ComponentGroup Id="GUI" Directory="INSTALLFOLDER">
		  <Component Id="CCDV" Guid="{CE4FD052-FE1E-4385-A0EE-DC1F3607B88C}">
			  <File Source="$(var.binPathGUI)\CCDV.dll" KeyPath="yes" Id="CCDV" />
			  <File Source="$(var.binPathGUI)\CCDV.exe" />
			  <File Source="$(var.binPathGUI)\CCDV.runtimeconfig.json" />
			  <File Source="$(var.binPathGUI)\CCDV.deps.json" />
			  <File Source="$(var.binPathGUI)\CCDV.ico" />
		  </Component>
		  <Component Id="ColorPicker" Guid="{046CC50F-47EE-419E-86FA-FC0F03EC8317}">
			  <File Source="$(var.binPathGUI)\ColorPIcker.dll" KeyPath="yes" />
		  </Component>
		  <Component Id="AnimatedGif" Guid="{B9724055-C96B-4483-B709-FB009B6D3A9D}">
			  <File Source="$(var.binPathGUI)\XamlAnimatedGif.dll" KeyPath="yes" />
		  </Component>
		  <Component Id="CasasoftXAMLControls" Guid="{225A2404-0995-4C33-82C6-C928FBE267D7}">
			  <File Source="$(var.binPathGUI)\Casasoft.Xaml.Controls.dll" KeyPath="yes" />
		  </Component>
	  </ComponentGroup>

  </Fragment>
</Wix>
