<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Fragment>
		<netfx:DotNetCompatibilityCheck Id="netCoreStatus"
			Property="NETCORESTATUS" RollForward="latestMajor"
			RuntimeType="core" Version="6.0.0" Platform="x64" />
		<Launch Condition='Installed OR NETCORESTATUS = "0"'
			Message="[ProductName] requires Microsoft .NET Core - 6.0.0 or greater." />
	</Fragment>

</Wix>
