<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	 xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"
	 xmlns:netfx="http://wixtoolset.org/schemas/v4/wxs/netfx">
	<Package Name="Casasoft Contemporary Carte de Visite tools" Language="1033"
			 Version="!(bind.fileVersion.CCDV)" Manufacturer="Casasoft"
			 UpgradeCode="3bf317e8-eb0d-4706-b499-31609f4ccfa0" >
		<MajorUpgrade DowngradeErrorMessage="!(loc.DowngradeError)" />
		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<?define binPath = "$(var.ProjectDir)..\bin\publish" ?>
		<?define binPathGUI = "$(var.ProjectDir)..\bin\publish" ?>

		<WixVariable Id="WixUILicenseRtf" Value="$(var.ProjectDir)LICENSE.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="$(var.ProjectDir)banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="$(var.ProjectDir)dialog.bmp" />
		<ui:WixUI Id="WixUI_Mondo" />

		<Feature Id="Complete" Title="Casasoft CdV tools"
				 Description="[ProductName] complete package."
				 Display="expand" Level='1' ConfigurableDirectory='INSTALLFOLDER'
				 AllowAdvertise='no' InstallDefault='local'>
			<Feature Id="CommonFeature" Title="Common libraries" Level="1"
					 Description="Common libraries"
					 AllowAdvertise='no' InstallDefault='local' AllowAbsent='no'
					 TypicalDefault='install'
					>
				<ComponentGroupRef Id="CommonFeatures" />
				<ComponentRef Id="MagickNet_x64" />
				<ComponentRef Id="MagickNet_x86" />
			</Feature>
			<Feature Id="CommandLineFeature" Title="Command line tools" Level="2"
					 Description="Command line interfaces"
					 AllowAdvertise='no' InstallDefault='local'>
				<ComponentGroupRef Id="CommandLine" />
			</Feature>
			<Feature Id="GUIFeature" Title="GUI" Level="1"
					 Description="GUI"
					 AllowAdvertise='no' InstallDefault='local'
					 TypicalDefault='install'>
				<ComponentGroupRef Id="GUI" />
				<ComponentRef Id="ApplicationShortcutStart" />
				<ComponentRef Id="ApplicationShortcutDesktop" />
			</Feature>
		</Feature>


	</Package>
</Wix>
