<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<?define binPath = "$(var.ProjectDir)..\bin\publish" ?>
	<?define binPathGUI = "$(var.ProjectDir)..\bin\publish" ?>
	<Fragment>
	  <ComponentGroup Id="CommonFeatures" Directory="INSTALLFOLDER">
		  <Component Id="MagickNet" Guid="{F8766EEC-5E83-4889-809A-A0373B334D98}">
			  <File Source="$(var.binPath)\Magick.NET.Core.dll" KeyPath="yes" />
			  <File Source="$(var.binPathGUI)\Magick.NET.SystemWindowsMedia.dll" />
			  <File Source="$(var.binPath)\Magick.NET-Q16-AnyCPU.dll" />
		  </Component>
		  <Component Id="Mono" Guid="{A35FB286-F632-466D-A7F8-EF83BCD03B2C}">
			  <File Source="$(var.binPath)\Mono.Options.dll" KeyPath="yes" />
		  </Component>
		  <Component Id="Microsoft" Guid="{15CE51A9-8828-495A-9D97-AA2E329E6A0E}">
			  <File Source="$(var.binPath)\Microsoft.CodeAnalysis.CSharp.dll" />
			  <File Source="$(var.binPath)\Microsoft.CodeAnalysis.dll" />
			  <File Source="$(var.binPathGUI)\Microsoft.Xaml.Behaviors.dll" KeyPath="yes" />
		  </Component>
		  <Component Id="CCDVcommon" Guid="{5694235F-2C0E-4CDC-98E6-8EF3C8CE82A2}">
			  <File Source="$(var.binPath)\Casasoft.CCDV.Common.dll" KeyPath="yes" />
		  </Component>
	  </ComponentGroup>
	  
	  <Component Id="MagickNet_x64" Directory="runtime_x64_native" Guid="{CDC4CD49-881F-45BD-B587-ED0B05C728C4}">
		  <File Source="$(var.binPath)\runtimes\win-x64\native\Magick.Native-Q16-x64.dll" KeyPath="yes" />
	  </Component>
	  <Component Id="MagickNet_x86" Directory="runtime_x86_native" Guid="{4C46AAA7-95C0-4CCC-BEE5-03FAD587B3B4}">
		  <File Source="$(var.binPath)\runtimes\win-x86\native\Magick.Native-Q16-x86.dll" KeyPath="yes" />
	  </Component>

  </Fragment>
</Wix>
