<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:util="http://wixtoolset.org/schemas/v4/wxs/util">
  <Fragment>
	  <!-- Directory structure for start menu -->
	  <StandardDirectory Id="ProgramMenuFolder">
		  <Directory Id="ApplicationProgramsFolder" Name="Casasoft CCDV tools"/>
	  </StandardDirectory>

	  <!-- Shortcuts in start menu -->
	  <DirectoryRef Id="ApplicationProgramsFolder">
		  <Component Id="ApplicationShortcutStart" Guid="{7792B02D-643E-4D5E-B516-36C5F9FDC512}">
			  <Shortcut Id="ApplicationStartShortcut"
				  Name="CdV tools GUI"
				  Description="[ProductName] GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="CreditCardShortcut"
				  Name="Credit Cards builder"
				  Description="[ProductName] Credit Cards builder GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=CreditCard"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="MontaggioFotoShortcut"
				  Name="Montaggio Foto"
				  Description="[ProductName] MontaggioFoto GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=MontaggioFoto"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="MontaggioDorsiShortcut"
				  Name="Montaggio Dorsi"
				  Description="[ProductName] MontaggioDorsi GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=MontaggioDorsi"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="ScatolaShortcut"
				  Name="Box builder"
				  Description="[ProductName] Box builder GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=Scatola"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="CartellaShortcut"
				  Name="Folder builder"
				  Description="[ProductName] Folder builder GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=Cartella"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="CubettiShortcut"
				  Name="Cubetti builder"
				  Description="[ProductName] Cubetti builder GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=Cubetti"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <Shortcut Id="FlexagonShortcut"
				  Name="Flexagon builder"
				  Description="[ProductName] Flexagon builder GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  Arguments="--tool=Flexagon"
				  WorkingDirectory="INSTALLFOLDER"/>

			  <!-- Internet links -->
			  <util:InternetShortcut Id="ProjectSiteShortcut"
				  Name="Contemporary CDV tools home page"
				  Target="https://strawberryfield.altervista.org/carte_de_visite/"/>
			  <util:InternetShortcut Id="ProjectSourceShortcut"
				  Name="Source code repository"
				  Target="https://github.com/strawberryfield/Contemporary_CDV"/>

			  <!-- Uninstall shortcut -->
			  <Shortcut Id="UninstallProduct"
						Name="Uninstall CCDV tools"
						Target="[SystemFolder]msiexec.exe"
						Arguments="/x [ProductCode]"
						Description="Uninstalls My Application" />

			  <RemoveFolder Id="CleanUpShortCut" Directory="ApplicationProgramsFolder" On="uninstall"/>
			  <RegistryValue
				  Root="HKCU"
				  Key="Software\!(bind.property.Manufacturer)\CCdV"
				  Name="installed"
				  Type="integer"
				  Value="1"
				  KeyPath="yes"/>
		  </Component>
	  </DirectoryRef>

	  <StandardDirectory Id="DesktopFolder">
		  <Component Id="ApplicationShortcutDesktop" Guid="{F8F5D127-B79A-4587-87BC-8CFD1CAB030D}">
			  <Shortcut Id="ApplicationDesktopShortcut"
				  Name="CdV tools GUI"
				  Description="[ProductName] GUI"
				  Target="[INSTALLFOLDER]CCDV.exe"
				  WorkingDirectory="INSTALLFOLDER"/>
			  <RemoveFolder Id="DesktopFolder" On="uninstall"/>
			  <RegistryValue
				  Root="HKCU"
				  Key="Software\!(bind.property.Manufacturer)\CCdV"
				  Name="desktop"
				  Type="integer"
				  Value="1"
				  KeyPath="yes"/>
		  </Component>
	  </StandardDirectory>

  </Fragment>
</Wix>
